<p id="notice"><%= notice %></p>

<h1>Listings</h1>



<%# ransack search gem %>
<%= search_form_for @q do |f| %>

  <%= f.search_field :title_or_description_or_fabric_or_color_cont %>
  
  <%# checkbox search with ransack for styles %>
      <% Style.all.each do |style|%>
          <%= check_box_tag "q[style_name_cont_any][]", style.name%>
          <%= style.name %>
      <% end %>

  <%= f.submit %>

<% end %>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Style</th>
      <th>Price</th>
      <th>Color</th>
      <th>Fabric</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<%# details of listing for index page %>
  <tbody>
    <% @listings.each do |listing| %>
    <% if !listing.bought? then %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.style.name %></td>
        <td><%= number_to_currency(listing.price / 100.00) %></td>
        <td><%= listing.color %></td>
        <td><%= listing.fabric %></td>
        <td><%= listing.category %></td>
        <td><%= listing.user.id %></td>

        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) if user_signed_in? and listing.user.id == current_user.id  %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? and listing.user.id == current_user.id  %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%# linking paths to home, new listing to create, messaging and user profile %>
<%= link_to 'Home', root_path%> |
<%= link_to 'New Listing', new_listing_path %> |
<%= link_to 'Chat', conversations_path %> | 
<%= link_to 'Users', users_path %> 





