
<div class="container">
  <div class="row">
    <div class="col-md-6 show-page">
        <%# puts image for particular listing that user has uploaded %>
            <%= image_tag @listing.picture, class:"rounded img-fluid", alt:"show-image", style:"height: 500px; width: 350px;"  if @listing.picture.attached? %>
        <%# all the details of listing %>
    </div>

  <div class="col-md-6 show-page">
        <p>
          <strong>Style:</strong>
          <%= @listing.style.name %>
        </p>

        <p>
          <strong>Title:</strong>
          <%= @listing.title %>
        </p>
        <%# number_to_currence method to to convert the price %>
        <p>
          <strong>Price:</strong>
          <%= number_to_currency(@listing.price) %>
        </p>

        <p>
          <strong>Color:</strong>
          <%= @listing.color %>
        </p>

        <p>
          <strong>Fabric:</strong>
          <%= @listing.fabric %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @listing.description %>
        </p>

        <p>
          <strong>Category:</strong>
          <%= @listing.category %>
        </p>


        <p>
          <strong>Seller:</strong>
          <%= link_to @listing.user.email, new_conversation_path %>
        </p>

        <%# buy button with strip, logic is used here so buy button 
        only works if user is loged in other wise it will take to login page  %>
        <% if user_signed_in?%>
        <div data-stripe="payment" class="btn btn-success"> 
          Buy <%= number_to_currency(@listing.price)%>
        </div> 
        <% else %> 
        <div data-stripe="payment" class="btn btn-success" > 
        <%= link_to 'Buy', new_user_session_path%>
        </div> 
        <% end %>

    </div>
  </div>
</div>


<%# <% if user_signed_in? %>
<%# <% else %> 
<%# link_to "log in", new_user_session_path %> 
       <%#end%>  






<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>

<div class="container">
<%  if user_signed_in? %> 
<h3> Total reviews: <%= @listing.comments.count %> </h3>

<h2>Reviews</h2>
<%= render @listing.comments%>
<% end %> 



<h2>Add a review:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_listing_path(@listing) if user_signed_in? and @listing.user.id == current_user.id %>
<%= link_to 'Back', listings_path %>

</div>
</div>
