<p id="notice"><%= notice %></p>

<%= image_tag @listing.picture if @listing.picture.attached? %>
<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@listing.price / 100.00) %>
</p>

<p>
  <strong>Color:</strong>
  <%= @listing.color %>
</p>

<p>
  <strong>Fabric:</strong>
  <%= @listing.fabric %>
</p>

<p>
  <strong>Fabric:</strong>
  <%= @listing.category %>
</p>


<p>
  <strong>User:</strong>
  <%= @listing.user.email %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
