<p id="notice"><%= notice %></p>

<%= image_tag @listing.picture if @listing.picture.attached? %>
<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@listing.price) %>
</p>

<p>
  <strong>Color:</strong>
  <%= @listing.color %>
</p>

<p>
  <strong>Fabric:</strong>
  <%= @listing.fabric %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category %>
</p>


<p>
  <strong>User:</strong>
  <%= @listing.user.email %>
</p>



<button data-stripe="payment">
  Buy <%= number_to_currency(@listing.price) %>
</button>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>

<h2><%= @listing.comments.count %> Comments </h2>

<h2>Comments</h2>
<%= render @listing.comments%>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
