<div class="container">
<h1>Users</h3>
</div>

<div class="row">
<%# list all the users %>
<% @users.each do |u| %>

  <div class="col-lg-4 col-md-6 col-sm-12" id="user-card">
    <div class="card">
    <%= image_tag "avatar.jpeg", alt:"Avatar", class: "avatar-user img-fluid"%>
      <div class="card-body">
        <h5 class="card-title">
          <%= u.username %>
        </h5>
        <h5 class="card-title">
          <%= u.email %>
        </h5>
        
        <a href="#" >
        <%= link_to "User Profile", user_path(u), class: "btn btn-primary"%>
        </a>
      </div>
    </div>
  </div>
  <% end %>
</div>  

<%# routes back to listing page %>

<div class="float-right">
<%= link_to "Back", listings_path, class:"btn btn-success btn-lg"%>
</div>
 


   
 


    
