<div class="container">
<h1>Users</h3>
</div>

<%# list all the users %>
<% @users.each do |u| %>
<div class="container align-content">
<div class="card" style="width: 18rem;>
  <div class="card-body" >
    <h5 class="card-title">
    <%= u.username%>
    </h5>
    <h6 class: "card-subtitle mb-2 text-muted"> <%= u.email %></h6>
    <p class="card-text"><%= u.about %>This is just few line that i have</p> 
    <%= link_to "User Profile", user_path(u), class: "card-link"%> 
  </div>
</div>
<% end %>



<%# routes back to listing page %>


<div>
<%= link_to "Back", listings_path, class:"btn btn-secondary"%>
</div>
 


 


    
