<%# individual profile page with detail %>
<div class="container" >
    <h1>Profile</h1>

<%# user profile card %>
<div class="card" id="profile-card" style="width: 18rem;">
    <%# <%=link_to image_tag "avatar.jpeg" , alt:"Avatar", class: "avatar img-fluid"%> 
    <div class="card-body">
    <h5 class="card-title">
        Username: <%= @user.username %>
    </h5>
    <div class="container">
        <p class="card-text">
            About: <%= @user.about %>
        </p>
    </div>
    </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        Name: <%= @user.first_name %> <%= @user.last_name %> 
    </li>
    <li class="list-group-item">
        Email: <%=link_to @user.email, conversations_path %>
    </li>
    <li class="list-group-item">
        Address: <%= @user.address %>
    </li>
  </ul>
    <div class="card-body">
        <a href="#">
            <% if current_user.id == @user.id  %>
                <%=link_to "Update Profile", edit_user_registration_path(@user),class:"btn btn-success btn-sm card-link" %>
            <% end %>
        </a>  
    </div>
</div>
    
  




<%# This profile related listings %>
<div class="container">
<h2>My Listings</h2>
</div>
<div class="row">
      <% @user_listings.each do |listing|%>  

        <div class="col-md-3">

            <div class="card" style="width: 12rem; height: 20rem;">
                
                     <%= image_tag listing.picture, style:"height: 150px;", class:"card-img-top", alt:"Card image cap"  if listing.picture.attached? %>
                    <div class="card-body">
                        <a href="#">
                            <h5 class="card-title">
                                <%= link_to listing.title,listing_path(listing) %>
                            </h5>
                        </a>
                        <p class="card-text" id="desc">
                            <%= listing.description %>
                        </p>

                    </div>
                    
                    <div class="card-body">
                        <a href="#">
                            <%= link_to "Buy $#{listing.price}", listing_path(listing), class:"btn btn-success card-link"%> 
                        </a>
               
                    </div>
            </div>
                

        </div>

        <%end%>




</div>

</div>








