<%# individual profile page with detail %>
<div class="container" >
    <h1>Profile</h1>
</div>


<div class="card" style="width: 18rem;">
  <%= image_tag "avatar.jpeg", alt:"Avatar", class: "avatar img-fluid"%>
    <div class="card-body">
    <h5 class="card-title">
        Username: <%= @user.username %>
    </h5>
    <div class="container">
        <p class="card-text">
            About: <%= @user.about %>
        </p>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        Name: <%= @user.first_name %> <%= @user.last_name %> 
    </li>
    <li class="list-group-item">
        Email: <%=link_to @user.email, conversations_path %>
    </li>
    <li class="list-group-item">
        Address: <%= @user.address %>
    </li>
  </ul>
  
</div>




<div>
<h2>My Listings</h2>
</div>

<%# list all the listings by this user %>
<div>
<% @user_listings.each do |listing|%>
    
 <%= image_tag listing.picture, style:"height: 200px;"  if listing.picture.attached? %>

    <%= link_to listing.title, listing_path(listing)%> 

    
<% end %>
</div>

<%# current_user will be able to edit their profile page but not others %>
<div>
<% if current_user.id == @user.id  %>
<%=link_to "Update Profile", edit_user_registration_path(@user) %>|
<%=link_to "Users ", users_path%>|
<%=link_to "Listings", listings_path%>|
<% else %>
<%#=link_to "Update Profile", edit_user_registration_path(@user) %>|

<%=link_to "Users ", users_path%>|
<%=link_to "Listings", listings_path%>|
<% end %>

 
</div>


